body {
    padding:3px;
    background-color:rgb(218, 218, 218);
}

/* Everything in the top of the page */
header {
    padding-top:2px;
    outline:darkslategray;
    outline-style:double;
    
    background-color:rgb(204, 204, 204);
}

#titleWrapper h1 {
    background-color:blanchedalmond;
    padding-bottom: 1px;
    margin-bottom: 0px;
}

#titleWrapper p {
    margin-top: 0px;
    background-color: bisque;
}

nav {
    background-color:bisque;
}

nav li {
    display:inline;
    list-style-type:none;
}

/* The first section of the main body 
all the arbitrary things */

.arbitraryThings {
    outline:darkslateblue;
    outline-style:inset;

    background-color:burlywood;
}

#arbitraryImageWrapper {
    display:grid;
    grid-template-columns: repeat(3, 1f);
    grid-gap: 10px;
}

#arbitraryImageLeft {
    grid-row:1;
    grid-column:1;
}

.arbitraryImage {
    outline:auto;
    outline-color:rgb(204, 148, 75);
    outline-style:groove;
    grid-row:1;
    grid-column:2;
}

#arbitraryImageRight {
    grid-row:1;
    grid-column:3;
}

/* style for the second section in the page */

.draggableThings {
    padding:5px;
    outline:auto;
    outline-style:double;
}

/* Every content wrapper on the page will animate when hovered */
.contentWrapper {
   padding:3px;
   background-color:rgb(230, 195, 150);

   transition: background-color 2s;
}

.contentWrapper:hover {
    background-color:rgb(199, 170, 132);
}

/* the hidden content to do with key unlocks */

.game-grid { 
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0px;
}
.image-grid { 
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0px;
}
.login-grid { 
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0px;
}
 /* Border surrounding the grids */
.border {
    background-color:darkslategrey;
}

/* style for each hidden content area */

#snakeCanvas {
    border:4px groove #0170a7;
    background-color:black;
    margin-right:0px;
}

#loginForm {
    border:4px groove #c78100;
    width:400px;
    height:150px;
}

#funnyImage {
    border:4px groove #0fbeca;
}