body {
    padding:3px;
    background-color:rgb(218, 218, 218);
}

header {
    padding-top:2px;
    outline:darkslategray;
    outline-style:double;
    
    background-color:rgb(204, 204, 204);
}

#titleWrapper h1 {
    background-color:blanchedalmond;
    padding-bottom: 1px;
    margin-bottom: 0px;
}

#titleWrapper p {
    margin-top: 0px;
    background-color: bisque;
}

nav {
    background-color:bisque;
}

nav li {
    display:inline;
    list-style-type:none;
}

.arbitraryThings {
    outline:darkslateblue;
    outline-style:inset;

    background-color:burlywood;
}

#arbitraryImageWrapper {
    display:grid;
    grid-template-columns: repeat(3, 1f);
    grid-gap: 10px;
}

#arbitraryImageLeft {
    grid-row:1;
    grid-column:1;
}

.arbitraryImage {
    outline:auto;
    outline-color:rgb(204, 148, 75);
    outline-style:groove;
    grid-row:1;
    grid-column:2;
}

#arbitraryImageRight {
    grid-row:1;
    grid-column:3;
}

.contentWrapper {
   padding:3px;
   background-color:rgb(230, 195, 150);

   transition: background-color 2s;
}

.contentWrapper:hover {
    background-color:rgb(199, 170, 132);
}